Ratcow.Debugging.Client/Web References/Service/DebugInterface.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DebugInterface" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:9001/DebugInterface?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:9001/DebugInterface?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:9001/DebugInterface?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDebugInterface_GetVariableNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableNames" />
  </wsdl:message>
  <wsdl:message name="IDebugInterface_GetVariableNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IDebugInterface_GetVariableValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValue" />
  </wsdl:message>
  <wsdl:message name="IDebugInterface_GetVariableValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVariableValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IDebugInterface">
    <wsdl:operation name="GetVariableNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IDebugInterface/GetVariableNames" message="tns:IDebugInterface_GetVariableNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDebugInterface/GetVariableNamesResponse" message="tns:IDebugInterface_GetVariableNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDebugInterface/GetVariableValue" message="tns:IDebugInterface_GetVariableValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDebugInterface/GetVariableValueResponse" message="tns:IDebugInterface_GetVariableValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDebugInterface" type="tns:IDebugInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVariableNames">
      <soap:operation soapAction="http://tempuri.org/IDebugInterface/GetVariableNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVariableValue">
      <soap:operation soapAction="http://tempuri.org/IDebugInterface/GetVariableValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DebugInterface">
    <wsdl:port name="BasicHttpBinding_IDebugInterface" binding="tns:BasicHttpBinding_IDebugInterface">
      <soap:address location="http://127.0.0.1:9001/DebugInterface" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>